service vendor.vibrator-chopin /vendor/bin/hw/android.hardware.vibrator-service.chopin
    class hal
    user system
    group system input

on post-fs
    chown system system /sys/devices/platform/aw8697/activate
    chown system system /sys/devices/platform/aw8697/duration
    chown system system /sys/devices/platform/aw8697/index
